@charset "utf-8";
/*Reset*/
html{color:#000;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}input,select,textarea{font-size:100%;outline:medium none;}table{border-collapse:collapse;border-spacing:0;}th{text-align:inherit;}fieldset,img{border:0;}iframe{display:block;}abbr,acronym{border:0;font-variant:normal;}del{text-decoration:line-through;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}q:before,q:after{content:'';}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}a:hover{text-decoration:underline;}ins,a{text-decoration:none;}
/*Base*/
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}
.cl{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
.hide{display:none;}
img{vertical-align:middle;}
em,i{font-style:normal;}
input,select,label{vertical-align:middle;}
/*Global*/
a{color:#000;}
a:hover{text-decoration:none;color:#d2334f;}
.pr{position:relative;}
.pa{position:absolute;}
.fl,.fr {display:inline;}
.fl{float:left;}
.fr{float:right;}
.tr{text-align:right;}
.hide{display:none;}
.vta-m{vertical-align:middle;}
.w{width:982px;margin:0 auto;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb20{margin-bottom:20px;}
.mtb10{margin-top:10px;margin-bottom:10px;}
.mtb15{margin-top:15px;margin-bottom:15px;}
.pt10{padding-top:10px;}
.tc{text-align:center;}
.tr{text-align:right;}
.ti10{text-indent:10px;}

.c0{color:#000;}
.c3{color:#333;}
.c6{color:#666;}
.c9{color:#999;}
.cr{color:#d71d2c;}
.cb{color:#1353af;}
.cw{color:#fff;}
.co{color:#f60;}
.cg{color:#390;}
.cd00{color:#DD0000;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.fwb{font-weight:700;}
.justify-align{display:block;text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;-moz-text-align-last:justify;-webkit-text-align-last:justify;}
@media screen and (-webkit-min-device-pixel-ratio:0){.justify-align:after{content:".";display: inline-block;width:100%;overflow:hidden;height:0;}}
.ico{display:inline-block;}

p{color:#4A4A4A;}
.box{display: inline;float:left;width:980px;margin-top:4px;border:1px solid #E1E1E1;border-radius:4px;background-color: #fff;overflow:hidden;}
.sbox{width:944px;padding:18px;margin:0 auto;margin-top:4px;border:1px solid #E1E1E1;border-radius:4px;background-color: #fff;overflow:hidden;}
.header-ht{height:25px;line-height:25px;border-bottom:1px solid #D690A1;background:#d2334f url(images/repeatx.png) repeat-x 0 0;color:#FFF;font-family:"microsoft yahei";}
.header-ht .ht-l span{margin:0 16px 0 20px;}
.header-ht a{margin:0 16px;color:#FFF;}
.header-ht a:hover{text-decoration:underline;}
.header{height:88px;border-top: 3px solid #101010;background: #111111 url(images/repeatx.png) repeat-x 0 -31px;}
.header .logo{margin:12px 45px 0 19px;}
.header .menu{line-height:88px;}
.header .menu a{margin:0 13px;color:#7a7a7a;font-size:16px;font-family:"microsoft yahei";}
.header .menu .cur,.header .menu a:hover{color:#FFF;}
.header .search{position: relative;width:216px;height:31px;margin:28px 20px 0 0;background: url(images/sprite.png) no-repeat 0 0;font-family:"microsoft yahei";}
.header .search .placeholder{position:absolute;width:152px;height:30px;top:0;left:17px;overflow:hidden;}
.header .search .placeholder input,.header .search .placeholder span{position:absolute;width:100%;height:30px;line-height:30px;top:0;left:0;color:#7a7a7a;}
.header .search .placeholder input{height:18px;line-height:18px;padding:6px 0;border:0 none;background:none;color:#7a7a7a;}
.header .search .search-btn{position:absolute;top:0;right:0;width:44px;height:30px;line-height:30px;border:0 none;background:none;text-align:center;color:#7a7a7a;cursor:pointer;font-family:"microsoft yahei";}

.smenu{margin-top:12px;}
.smenu ul{width:900px;border-bottom:1px solid #0F0E0E;}
.smenu li{display:inline;float:left;height:34px;line-height:34px;}
.smenu li a{margin:0 20px;color:#000;font-size:18px;font-family:"microsoft yahei";}
.smenu .cur{background: url(images/smenu-arrow.png) no-repeat 50% bottom;}
.smenu .cur a,.smenu li a:hover{color:#d2334f;}

.footer{margin-top:5px;padding:5px 0 20px 0;background:#121212 url(images/footer-repeat.png) repeat-x 0 0;text-align:center;font-family:"microsoft yahei";}
.footer .link{padding:5px 0;}
.footer .link a{margin:0  24px;line-height:20px;color:#FFF;}
.footer .link a:hover{text-decoration:underline;}
.footer .copyright{line-height:26px;color:#FFF;}
.footer .copyright span{margin:0 8px;}
.footer .f-contact{line-height:32px;color:#FFF;}

.tab li{display:inline;float:left;height:24px;line-height:24px;padding:0 15px;margin-right:4px;font-size:14px;color:#000;font-family:"microsoft yahei";cursor:pointer;}
.tab li.cur{background:#CB2F4B url(images/tab-cur.png) no-repeat 50% bottom;color:#FFF;cursor:default;}

.owl-controls{position:absolute;width:100%;left:0;bottom:0;}
.owl-pagination{position:absolute;top:0;right:0;bottom:0;left:0;}
.owl-controls .owl-page{display:inline-block;}

.pagination{text-align: center;}
.pagination li{display:inline-block;_float:left;_margin:0 2px;}
.pagination li a,.pagination li span{float:left;width:26px;line-height:26px;border:1px solid #E2E2E2;border-radius:3px;background-color: #D9DFE3;font-size:14px;text-align:center;}
.pagination .active a,.pagination .active span{background-color: #333;color:#FFF;cursor:default;}
.pagination .disabled a,.disabled .active span{cursor:not-allowed;}

.ico{display: inline-block;}
.ico-arrow{width:9px;height:5px;background: url(images/sprite.png) no-repeat -123px -36px;}
.ico-arrow-up{background: url(images/sprite.png) no-repeat -137px -36px;}

.gotop{display:none;position:fixed;right:10px;bottom:100px;}
.gotop a{position:absolute;display:block;width:48px;height:80px;right:0;bottom:0;background:url(images/sprite.png) no-repeat 0 -98px;}
.gotop a:hover{background-position:-53px -98px;}
.gotop .code{position:absolute;display:none;width:118px;height:259px;padding-top:9px;right:46px;bottom:0;border:1px solid #000000;background-color:#FFF;text-align:center;}
.gotop .code p{height:30px;line-height:30px;font-family:"microsoft yahei";color:#000;}
.gotop a p{color:#000;}
.gotop a:hover .code{display:block;}

.content{position: relative;}