@charset "utf-8";
/*Reset*/
html{color:#333;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"microsoft yahei",\5b8b\4f53;}input,select,textarea{font-size:100%;outline:medium none;}table{border-collapse:collapse;border-spacing:0;}th{text-align:inherit;}fieldset,img{border:0;}iframe{display:block;}abbr,acronym{border:0;font-variant:normal;}del{text-decoration:line-through;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}q:before,q:after{content:'';}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}a:hover{text-decoration:underline;}ins,a{text-decoration:none;}
/*Base*/
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}
.cl{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
.hide{display:none;}
img{vertical-align:middle;}
em,i{font-style:normal;}
input,select,label{vertical-align:middle;}
/*Global*/
a:hover{text-decoration:none;}
.pr{position:relative;}
.pa{position:absolute;}
.fl,.fr {display:inline;}
.fl{float:left;}
.fr{float:right;}
.tr{text-align:right;}
.hide{display:none;}
.vta-m{vertical-align:middle;}
.w{width:1000px;margin:0 auto;}
.w1190{width:1190px;margin:0 auto 10px;min-width:1190px;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb20{margin-bottom:20px;}
.mtb10{margin-top:10px;margin-bottom:10px;}
.mtb15{margin-top:15px;margin-bottom:15px;}
.pt10{padding-top:10px;}
.tc{text-align:center;}
.tr{text-align:right;}
.ti10{text-indent:10px;}

.c0{color:#000;}
.c3{color:#333;}
.c6{color:#666;}
.c9{color:#999;}
.cr{color:#d71d2c;}
.cb{color:#1353af;}
.cw{color:#fff;}
.co{color:#f60;}
.cg{color:#390;}
.cd00{color:#DD0000;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.fwb{font-weight:700;}

.ico{display:inline-block;}
.ico-phone{width:18px;height:20px;background:url(images/ico-phone.png) no-repeat 0 0;}

.header{height:136px;background:#FDCBD4 url(images/header-bg.png) no-repeat 50% 0;}
.index-header{background-color:#8D8FDA;}
.header .w{position:relative;}
.header .logo img{margin:5px 0 10px 0;}
.header .contact{position:absolute;top:20px;right:0;height:116px;}
.header .contact .c-phone .ico-phone{margin-top:36px;}
.header .contact .c-phone .phone-number{margin:0 10px 0 5px;}
.header .contact .c-phone{line-height:90px;font-size:18px;color:#FFF;}
.header .contact .c-wx{text-align:center;}
.header .contact .c-wx p{color:#FFF;line-height:24px;}

.menu{height:36px;line-height:36px;background-color:#FB7A8C;}
.index-menu{background-color:#9B7CD5;}
.menu a,.menu a:visited{display:inline;float:left;min-width:54px;margin:0 12px;padding:0 10px;font-size:18px;color:#FFF;text-align:center;text-shadow: 1px 1px 1px #090204;}
.menu a.cur{background-color:#F89424;box-shadow:1px 1px 2px rgba(20,20,20,0.2);}
.index-menu a.cur{background-color:#A4C73B;}
.menu a:hover{text-decoration:none;color:#FFF;}

.footer .bl{height:21px;margin-top:-21px;background:url(images/footer-bg-red.png) repeat-x 0 0;}
.index-footer .bl{height:24px;margin-top:-24px;background:url(images/footer-bg-blue.png) repeat-x 0 0;}
.footer .link{padding:40px 0;background-color:#FB7A8C;line-height:20px;color:#FFF;text-align:center;font-family:\5b8b\4f53;}
.index-footer .link{background-color:#9B7CD5;}
.footer .link a{font-size:14px;color:#FFF;font-family:\5b8b\4f53;}
.footer .link span{margin:0 10px;}

.pages{line-height:26px;text-align:right;font-family:\5b8b\4f53;}
.pages a,.pages i,.pages span{display:inline-block;height:26px;}
.pages a{padding:0 8px;border:1px solid #F7BA94;background-color:#FFF8F8;color:#000;font-family:\5b8b\4f53;}
.pages a.cur{background-color:#C51B09;color:#FFF;}
.pages span{margin:0 5px;}